@font-face {
  font-family: "icomoon";
  font-weight: normal;
  font-display: block;
  font-style: normal;
  src: url("#{$fontsPath}icomoon.eot?pbeyk0");
  src: url(".#{$fontsPath}icomoon.eot?pbeyk0#iefix ")
      format("embedded-opentype"),
    url("#{$fontsPath}icomoon.ttf?pbeyk0") format("truetype"),
    url("#{$fontsPath}icomoon.woff?pbeyk0") format("woff"),
    url("#{$fontsPath}icomoon.svg?pbeyk0#icomoon") format("svg");
}
