.post {
  width: initial;
  margin-left: initial;
  margin-right: initial;

  flex-direction: row;

  @include e(right) {
    flex: 1;
  }
  @include e(left) {
    padding: 0 30px;
    flex-basis: 250px;
  }
}
