.social {
  @include e(link) {
    @include m(g) {
      &:hover {
        background-position: 0 -32px;
      }
    }

    @include m(fb) {
      &:hover {
        background-position: -32px -32px;
      }
    }

    @include m(tw) {
      &:hover {
        background-position: -64px -32px;
      }
    }
  }
}
