.content-box {
  display: flex;
  justify-content: space-between;
}
.col {
  @include m(left) {
    flex: 0 0 610px;
  }
  @include m(right) {
    width: initial;
    margin-right: 0;
    flex: 0 0 300px;
    display: initial;
  }
}
