.header-box {
  margin-bottom: 15px;
  flex-wrap: nowrap;
  @include e(title) {
    margin-bottom: 0;
  }
}

.form-box {
  flex-basis: initial;
  margin-left: auto;
  margin-top: 16px;
  width: initial;

  @include e(control) {
    &:focus {
      background: $white;
      color: $darkGray;
    }
  }
}
