.nav-box {
  @include e(link) {
    &:hover {
      color: $blackColor;
    }
  }
  @include e(item) {
    @include m(home) {
      &:hover::before {
        background-position: 0 -105px;
      }
    }
    @include m(photo) {
      &:hover::before {
        background-position: 0 -140px;
      }
    }

    @include m(about) {
      &:hover::before {
        background-position: 0 -176px;
      }
    }
  }
}
