.slogan {
  text-align: right;
  padding-right: 10px;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 3px;
    height: 80px;
    background: $white;
    position: absolute;
    top: -15px;
    right: 0;
  }
}
